<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cámara</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/CREA.ico') }}">
  </head>
  <script>
  window.addEventListener("load", function() {
    document.body.classList.add("loaded");
  });
</script>
  <body>
    <header>
      <img class="logo" src="{{ url_for('static', filename='img/Logo_CREA.png') }}" alt="logo">
      <ul class="Tema">
        <li>Smart Blue Sentinel</li>
      </ul>
      <ul class="right">
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="{{ url_for('camara') }}">Cámara</a></li>
        <li><a href="{{ url_for('gps') }}">GPS</a></li>
        <li><a href="{{ url_for('datos') }}">Datos</a></li>
      </ul>
    </header>
    <main>
      <div class="bordes">
        <img src= "//api/video_feed" width="960" height="560">
        </div>
      </div>
    </main>
    
  </body>
  <footer>
      <p>Unidad Educativa Particular Siete de Mayo - V Feria de Bachillerato Técnico “Jóvenes Emprendedores” &copy; 2025-2026</p>
  </footer>
</html>