<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto CREA</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/CREA.ico') }}">
</head>
<script>
  window.addEventListener("load", function() {
    document.body.classList.add("loaded");
  });
</script>
<body>
<header>
  <img class="logo" src="{{ url_for('static', filename='img/Logo_CREA.png') }}" alt="logo">
  <ul class="Tema">
    <li>Smart Blue Sentinel</li>
  </ul>
  <ul class="right">
    <li><a href="{{ url_for('index') }}">Inicio</a></li>
    <li><a href="{{ url_for('control') }}">Control</a></li>
    <li><a href="{{ url_for('gps') }}">GPS</a></li>
    <li><a href="{{ url_for('datos') }}">Datos</a></li>
    <li><a href="{{ url_for('admin') }}">Admin</a></li>
  </ul>
</header>
  <main>
  <div class="bordes">
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3985.0397836313427!2d-78.87370112640293!3d-2.8044770391672933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd1188193e98ff%3A0xe48a4044895e71d9!2sUniversidad%20Nacional%20de%20Educaci%C3%B3n!5e0!3m2!1ses!2sec!4v1760572565658!5m2!1ses!2sec"
        ></iframe>
      </div>
    </div>
</main>
</body>
<footer>
  <p>Unidad Educativa Particular Siete de Mayo - IV Feria Proyectos Innovadores Zona 7 &copy; 2025-2026</p>
</footer>
</html>